.flex-container {
    background-color: gray;
    padding: 10px;
    display:grid;
  grid-template-columns: 200px 200px 200px 200px;
  /* grid-column-gap: 50px;
  grid-row-gap: 30px; */
  height: 600px;
  align-content: center;
  justify-content: center;
  
   
     
 }
 .flex-container > div {
     border: 2px solid black;
     /* margin: 5px; */
     height: 100px;
     width: auto;
     background-color: darkturquoise;
    
 }
 
 
 @media screen  and (max-width : 767px) {
     .flex-container > div {
     background-color: rgb(42, 165, 79);
 }
 
 @media screen  and (min-width : 768px) and (max-width : 1024px) {
     .flex-container > div {
    background-color: crimson;