.first-div{
    position: fixed;
    top: 2em;
    background-color: brown;
}
.second-div{
    position: relative;
    top: 14em;
    background-color: blue;
}
.third-div{
    position: absolute;
    right: 8em;
    background-color: coral;

}
.fouth-div{
    position: sticky;

background-color: coral ;
}
 .para{
     text-shadow: rgb(25, 90, 121) 1px 2px;
     text-align: center;
 } 