.container {
   display: flex;
   padding: 5px;
   width: 600px;
   background-color: darkkhaki;
flex-direction: row;
    flex-wrap: wrap;
 align-content: center;
    
    
}
.container > div {
    margin: 5px;
    width: 150px;
    justify-content: center;
    background-color: darkturquoise;
    
    
}
.div-1{
   
    background-color: rgb(18, 99, 18) ;
   
}
.div-2{
    background-color: coral;
   
}
.div-3{
    background-color: rgb(95, 180, 9);
   
    
}
