
.wrapper{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    margin: 20px;
   padding: 5px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;

    
}
.sign-up a{
    font-weight: bolder;
    color: black;
    margin: 20px;
    /* background-color: brown;  */
     

}
.sign-up{
    flex-grow: 2px;
     align-self: flex-end;
     margin-top: 10px;
     margin-right: 10px;
     width: 120px;
}
.form{
    /* background-color: blueviolet; */
    width: 120px;
    align-self: center;
}

.login{
    align-self: center;
    /* background-color: cyan; */
    
   
   
}

div.button{
    clear: both;
    /* background-color: yellow; */
    width: 200px;
    align-self: center;

}