body{
    font-family: 'Montserrat', sans-serif;

    text-shadow: 2px 2px yellow;
}


div{
    /* border: 2px solid black; */
    width: 500px;
    height: 150px;
    
}
div img{
     width: 150px;
}

.image-1{
    float: left;
    width: 150px;
}

.para-1{
    width: 600px ;
    float: right;
    
}
.image-2{
    clear: both;
}