body{
    box-sizing: border-box;
    margin: 0 200px;
    
}
.container{
    display: grid;
    grid-template-rows: 100px 150px 300px 100px;
    grid-template-columns: repeat(3,150px) 100px;
    grid-gap: 20px;
    border: transparent;
}
div{
    border: 2px solid black;
}
.header{
background-color: hotpink;
grid-row: 1 / 2;
grid-column: 1 / 5;
}
.small-box-1{
    background-color: hotpink;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    }
.small-box-2{
 background-color: hotpink;
}
.small-box-3{
 background-color: hotpink;
}
.sidebar{
    background-color: hotpink;
    grid-row: 2/4;
    grid-column: 4 / -1;
}
.main-content{
    background-color: hotpink;
    grid-row: 3 / 3;
    grid-column: 1 / 4;
}
.footer{
    background-color: hotpink;
    grid-row: 4 / -1;
    grid-column: 1 / -1;
}