h1{
    background-color: darkred;
}
h2{
   background-color:  rgb(139, 80, 112);
}
h3{
    background-color: rgb(175, 139, 139);
}
h4{
    background-color: #f1f644;
}
h5{
    background-color: greenyellow;
}
h6{
    background-color: #603969;
}