body{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    
}
.container{
    background-color: #f8f8d2;
    padding: 2em;
    height: 550px;
  
    
}
 h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
 }
 .submit{
     margin-left: 320px;
   
 }