.container{
    border: 20px;
     width: 170px;
     padding: 20px block red ;

}

.abida{

    color: blue;
    padding: 30px;
    border: 30px solid green; 
    margin: 60px;
    text-align: center;

}
#h2{
    color: blue ;
}